{% include header.html %}
{% include nav.html %}

<section id="hero-spot" class="hero-spot">
    <a href="/"><img src="/images/ml_apps.png" alt="ML Ops" class="logo" /></a>

    <h1>Machine Learning Ops</h1>
    <h2>A curation of tutorials, examples, templates and actions for Data Scientists and Machine Learning Engineers</h2>
    

    <div id="slideshow">
      <img src="/images/ml-workflow.png" alt="ml-workflow" class="slide active" width=893 />
    </div>
</section>

{{ content }}

{% include footer.html %}
